<a href="https://colab.research.google.com/github/eolus87/Coursera_Capstone/blob/master/Web_scraping_Toronto_neighbourhoods_2ndpart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web scraping Neighborhood data from Wikipedia about Toronto
This code has been developed for Coursera course: "Applied Data Science Capstone", following the instructions on [Segmenting and Clustering Neighborhoods in Toronto](https://www.coursera.org/learn/applied-data-science-capstone/peer/I1bDq/segmenting-and-clustering-neighborhoods-in-toronto/submit)

References used are:
- [How To Web Scrape Wikipedia Using Python, Urllib, Beautiful Soup and Pandas](https://simpleanalytical.com/how-to-web-scrape-wikipedia-python-urllib-beautiful-soup-pandas)

Nicolas Gutierrez  
UK, 17th May 2020

## From Web to a dataframe

### Importing needed libraries
- [**urllib.request**](https://docs.python.org/3.0/library/urllib.request.html)
- [**BeautifulSoup**](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [**Pandas**](https://pandas.pydata.org/) (The ubiquitous)

In [1]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd

print("Libraries needed imported!")

Libraries needed imported!

### Variables initialization, web request and data checking

In [0]:
# As indicated in the course project instructions, the URL is the following
url  = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
# We make the call
page =  urllib.request.urlopen(url)
# Now it is the turn of Beautiful Soup to parse the HTML code we got
soup = BeautifulSoup(page, "lxml")
#print(soup.prettify())
# I am not displaying the soup.prettify() field above because it is too long, but 
# it can be uncommented if needed

In [0]:
# Now we have the HTML code, we can have a look, and the table we are intestrested in begins with "<table class="wikitable sortable">".
all_tables   = soup.find_all("table")
#all_tables
# I am not displaying the all_tables object above because it is too long, but 
# it can be uncommented if needed

In [0]:
# Let's filter the obtained tables list and get the only table we want
table_wanted = soup.find("table", class_ = "wikitable sortable")
#table_wanted
# I am not displaying the table_watend object above because it is too long, but 
# it can be uncommented if needed

### Extracting and cleaning data
First we will find the table headers. They all have this format "\<th>Header\</th>" (This step is just for fun, because we assign the table headers manually afterwards).

In [5]:
# Initialize the list that will contain the headers
table_headers = []

# Find all headers in the table
thheaders = table_wanted.find_all('th')

# Include all headers in table_headers. With 'find' method we separate the text 
# from the HTML syntax. Then we get the names but finishing with '\n' jump line 
# character so we remove it by cropping the vector from [0:-1]
for i in range(len(thheaders)):
  table_headers.append(thheaders[i].find(text=True)[0:-1])

# Printing the headers
print(table_headers)

['Postal Code', 'Borough', 'Neighborhood']

Next, the table data. Every line in the table is enclosed in "\<tr>DataRow\</tr>" and then every field is enclosed in "\<td>DataField\</td>" and we have three fields per row.

In [6]:
# Initializing the lists that will contain the data
postalcode   = []
borough      = []
neighborhood = []

# We locate every field in the data (we need to crop the data again to remove 
# the jump line character)
for row in table_wanted.find_all('tr'):
  row_data = row.findAll('td')
  if len(row_data) == 3:
    postalcode.append(row_data[0].find(text=True)[0:-1])
    borough.append(row_data[1].find(text=True)[0:-1])
    neighborhood.append(row_data[2].find(text=True)[0:-1])

# Printing the results of the fields
print("Content of every column:")
print("Postal_code: {}".format(postalcode))
print("Borough: {}".format(borough))
print("Neighborhood: {}\n".format(neighborhood))

# Printing the length of every column
print("Size of every column:")
print(len(postalcode))
print(len(borough))
print(len(neighborhood))

Content of every column:
Postal_code: ['M1A', 'M2A', 'M3A', 'M4A', 'M5A', 'M6A', 'M7A', 'M8A', 'M9A', 'M1B', 'M2B', 'M3B', 'M4B', 'M5B', 'M6B', 'M7B', 'M8B', 'M9B', 'M1C', 'M2C', 'M3C', 'M4C', 'M5C', 'M6C', 'M7C', 'M8C', 'M9C', 'M1E', 'M2E', 'M3E', 'M4E', 'M5E', 'M6E', 'M7E', 'M8E', 'M9E', 'M1G', 'M2G', 'M3G', 'M4G', 'M5G', 'M6G', 'M7G', 'M8G', 'M9G', 'M1H', 'M2H', 'M3H', 'M4H', 'M5H', 'M6H', 'M7H', 'M8H', 'M9H', 'M1J', 'M2J', 'M3J', 'M4J', 'M5J', 'M6J', 'M7J', 'M8J', 'M9J', 'M1K', 'M2K', 'M3K', 'M4K', 'M5K', 'M6K', 'M7K', 'M8K', 'M9K', 'M1L', 'M2L', 'M3L', 'M4L', 'M5L', 'M6L', 'M7L', 'M8L', 'M9L', 'M1M', 'M2M', 'M3M', 'M4M', 'M5M', 'M6M', 'M7M', 'M8M', 'M9M', 'M1N', 'M2N', 'M3N', 'M4N', 'M5N', 'M6N', 'M7N', 'M8N', 'M9N', 'M1P', 'M2P', 'M3P', 'M4P', 'M5P', 'M6P', 'M7P', 'M8P', 'M9P', 'M1R', 'M2R', 'M3R', 'M4R', 'M5R', 'M6R', 'M7R', 'M8R', 'M9R', 'M1S', 'M2S', 'M3S', 'M4S', 'M5S', 'M6S', 'M7S', 'M8S', 'M9S', 'M1T', 'M2T', 'M3T', 'M4T', 'M5T', 'M6T', 'M7T', 'M8T', 'M9T', 'M1V', 'M2V', 'M3V', 'M4V', 'M5V', 'M6V', 'M7V', 'M8V', 'M9V', 'M1W', 'M2W', 'M3W', 'M4W', 'M5W', 'M6W', 'M7W', 'M8W', 'M9W', 'M1X', 'M2X', 'M3X', 'M4X', 'M5X', 'M6X', 'M7X', 'M8X', 'M9X', 'M1Y', 'M2Y', 'M3Y', 'M4Y', 'M5Y', 'M6Y', 'M7Y', 'M8Y', 'M9Y', 'M1Z', 'M2Z', 'M3Z', 'M4Z', 'M5Z', 'M6Z', 'M7Z', 'M8Z', 'M9Z']
Borough: ['Not assigned', 'Not assigned', 'North York', 'North York', 'Downtown Toronto', 'North York', 'Downtown Toronto', 'Not assigned', 'Etobicoke', 'Scarborough', 'Not assigned', 'North York', 'East York', 'Downtown Toronto', 'North York', 'Not assigned', 'Not assigned', 'Etobicoke', 'Scarborough', 'Not assigned', 'North York', 'East York', 'Downtown Toronto', 'York', 'Not assigned', 'Not assigned', 'Etobicoke', 'Scarborough', 'Not assigned', 'Not assigned', 'East Toronto', 'Downtown Toronto', 'York', 'Not assigned', 'Not assigned', 'Not assigned', 'Scarborough', 'Not assigned', 'Not assigned', 'East York', 'Downtown Toronto', 'Downtown Toronto', 'Not assigned', 'Not assigned', 'Not assigned', 'Scarborough', 'North York', 'North York', 'East York', 'Downtown Toronto', 'West Toronto', 'Not assigned', 'Not assigned', 'Not assigned', 'Scarborough', 'North York', 'North York', 'East York', 'Downtown Toronto', 'West Toronto', 'Not assigned', 'Not assigned', 'Not assigned', 'Scarborough', 'North York', 'North York', 'East Toronto', 'Downtown Toronto', 'West Toronto', 'Not assigned', 'Not assigned', 'Not assigned', 'Scarborough', 'North York', 'North York', 'East Toronto', 'Downtown Toronto', 'North York', 'Not assigned', 'Not assigned', 'North York', 'Scarborough', 'North York', 'North York', 'East Toronto', 'North York', 'York', 'Not assigned', 'Not assigned', 'North York', 'Scarborough', 'North York', 'North York', 'Central Toronto', 'Central Toronto', 'York', 'Not assigned', 'Not assigned', 'York', 'Scarborough', 'North York', 'Not assigned', 'Central Toronto', 'Central Toronto', 'West Toronto', 'Not assigned', 'Not assigned', 'Etobicoke', 'Scarborough', 'North York', 'Not assigned', 'Central Toronto', 'Central Toronto', 'West Toronto', 'Mississauga', 'Not assigned', 'Etobicoke', 'Scarborough', 'Not assigned', 'Not assigned', 'Central Toronto', 'Downtown Toronto', 'West Toronto', 'Not assigned', 'Not assigned', 'Not assigned', 'Scarborough', 'Not assigned', 'Not assigned', 'Central Toronto', 'Downtown Toronto', 'Not assigned', 'Not assigned', 'Not assigned', 'Not assigned', 'Scarborough', 'Not assigned', 'Not assigned', 'Central Toronto', 'Downtown Toronto', 'Not assigned', 'Not assigned', 'Etobicoke', 'Etobicoke', 'Scarborough', 'Not assigned', 'Not assigned', 'Downtown Toronto', 'Downtown Toronto', 'Not assigned', 'Not assigned', 'Etobicoke', 'Etobicoke', 'Scarborough', 'Not assigned', 'Not assigned', 'Downtown Toronto', 'Downtown Toronto', 'Not assigned', 'Not assigned', 'Etobicoke', 'Not assigned', 'Not assigned', 'Not assigned', 'Not assigned', 'Downtown Toronto', 'Not assigned', 'Not assigned', 'East Toronto', 'Etobicoke', 'Not assigned', 'Not assigned', 'Not assigned', 'Not assigned', 'Not assigned', 'Not assigned', 'Not assigned', 'Not assigned', 'Etobicoke', 'Not assigned']
Neighborhood: ['', '', 'Parkwoods', 'Victoria Village', 'Regent Park, Harbourfront', 'Lawrence Manor, Lawrence Heights', "Queen's Park, Ontario Provincial Government", '', 'Islington Avenue', 'Malvern, Rouge', '', 'Don Mills', 'Parkview Hill, Woodbine Gardens', 'Garden District, Ryerson', 'Glencairn', '', '', 'West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale', 'Rouge Hill, Port Union, Highland Creek', '', 'Don Mills', 'Woodbine Heights', 'St. James Town', 'Humewood-Cedarvale', '', '', 'Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood', 'Guildwood, Morningside, West Hill', '', '', 'The Beaches', 'Berczy Park', 'Caledonia-Fairbanks', '', '', '', 'Woburn', '', '', 'Leaside', 'Central Bay Street', 'Christie', '', '', '', 'Cedarbrae', 'Hillcrest Village', 'Bathurst Manor, Wilson Heights, Downsview North', 'Thorncliffe Park', 'Richmond, Adelaide, King', 'Dufferin, Dovercourt Village', '', '', '', 'Scarborough Village', 'Fairview, Henry Farm, Oriole', 'Northwood Park, York University', 'East Toronto', 'Harbourfront East, Union Station, Toronto Islands', 'Little Portugal, Trinity', '', '', '', 'Kennedy Park, Ionview, East Birchmount Park', 'Bayview Village', 'Downsview', 'The Danforth West, Riverdale', 'Toronto Dominion Centre, Design Exchange', 'Brockton, Parkdale Village, Exhibition Place', '', '', '', 'Golden Mile, Clairlea, Oakridge', 'York Mills, Silver Hills', 'Downsview', 'India Bazaar, The Beaches West', 'Commerce Court, Victoria Hotel', 'North Park, Maple Leaf Park, Upwood Park', '', '', 'Humber Summit', 'Cliffside, Cliffcrest, Scarborough Village West', 'Willowdale, Newtonbrook', 'Downsview', 'Studio District', 'Bedford Park, Lawrence Manor East', 'Del Ray, Mount Dennis, Keelsdale and Silverthorn', '', '', 'Humberlea, Emery', 'Birch Cliff, Cliffside West', 'Willowdale', 'Downsview', 'Lawrence Park', 'Roselawn', 'Runnymede, The Junction North', '', '', 'Weston', 'Dorset Park, Wexford Heights, Scarborough Town Centre', 'York Mills West', '', 'Davisville North', 'Forest Hill North & West', 'High Park, The Junction South', '', '', 'Westmount', 'Wexford, Maryvale', 'Willowdale', '', 'North Toronto West', 'The Annex, North Midtown, Yorkville', 'Parkdale, Roncesvalles', 'Canada Post Gateway Processing Centre', '', 'Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens', 'Agincourt', '', '', 'Davisville', 'University of Toronto, Harbord', 'Runnymede, Swansea', '', '', '', "Clarks Corners, Tam O'Shanter, Sullivan", '', '', 'Moore Park, Summerhill East', 'Kensington Market, Chinatown, Grange Park', '', '', '', '', "Milliken, Agincourt North, Steeles East, L'Amoreaux East", '', '', 'Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park', 'CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport', '', '', 'New Toronto, Mimico South, Humber Bay Shores', 'South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens', "Steeles West, L'Amoreaux West", '', '', 'Rosedale', 'Stn A PO Boxes', '', '', 'Alderwood, Long Branch', 'Northwest', 'Upper Rouge', '', '', 'St. James Town, Cabbagetown', 'First Canadian Place, Underground city', '', '', 'The Kingsway, Montgomery Road, Old Mill North', '', '', '', '', 'Church and Wellesley', '', '', 'Business reply mail Processing Centre', "Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East", '', '', '', '', '', '', '', '', 'Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West', '']

Size of every column:
180
180
180

### DataFrame and final cleaning
Now we will create a Pandas Dataframe and do the last stage of cleaning in Pandas

In [7]:
# Initializing the data frame
table_dataframe                 = pd.DataFrame(postalcode,columns=['PostalCode'])
# Adding the rest of columns
table_dataframe['Borough']      = borough
table_dataframe['Neighborhood'] = neighborhood
table_dataframe

    PostalCode  ...                                       Neighborhood
0          M1A  ...
1          M2A  ...
2          M3A  ...                                          Parkwoods
3          M4A  ...                                   Victoria Village
4          M5A  ...                          Regent Park, Harbourfront
..         ...  ...                                                ...
175        M5Z  ...
176        M6Z  ...
177        M7Z  ...
178        M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179        M9Z  ...

[180 rows x 3 columns]

Next, the steps required by the assignment:
1. Ignore cells with a borough that is "Not assigned"
2. No PostalCode will be duplicated, combine cells with the same PostalCode
3. If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [8]:
#1. Removing (ignoring) rows with Borough "Not assigned"
table_dataframe = table_dataframe[table_dataframe['Borough']!="Not assigned"]
print("DataFrame shape: {}\n".format(table_dataframe.shape))

# Sanity check about datatypes
print(table_dataframe.dtypes)

#2. Joining Neighborhoods as indicated in the assignment instructions
print(table_dataframe[table_dataframe['PostalCode'].isin(['M5A'])])
table_dataframe = table_dataframe.groupby(['PostalCode','Borough'], axis = 0)['Neighborhood'].apply(lambda x: ', '.join(x)).reset_index()
print(table_dataframe[table_dataframe['PostalCode'].isin(['M5A'])])
# NOTE: PostalCodes are not duplicated in wikipedia page. Actually the table is 
# grouped by PostalCodes so there is no need to go thorugh the group by process

#3. Looking and filling empty neighborhood
for i in range(len(table_dataframe)):
  if table_dataframe['Neighborhood'][i] == '':
    print(table_dataframe['Borough'][i])
    table_dataframe['Neighborhood'][i] = table_dataframe['Borough'][i]
# NOTE: There was no changes in the step 3. It seems that empty neighborhoods are
# linked to "Not Assigned" Boroughs, so this step was done with step 1.

DataFrame shape: (103, 3)

PostalCode      object
Borough         object
Neighborhood    object
dtype: object
  PostalCode           Borough               Neighborhood
4        M5A  Downtown Toronto  Regent Park, Harbourfront
   PostalCode           Borough               Neighborhood
53        M5A  Downtown Toronto  Regent Park, Harbourfront

Finally, we print the Data frame and the shape

In [9]:
#Printing the dataframe
table_dataframe

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101        M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [10]:
# Printing the shape of the dataframe
table_dataframe.shape

(103, 3)

## Including Latitude and Longitude data

### Importing the needed library

In [11]:
# Google colab doesn't have geocoder by default
!pip install -q geocoder
# import geocoder
import geocoder
# import time for sleeping between calls to geocoder 
import time

print('All libraries installed and imported!')

All libraries installed and imported!

### Variables initialization and latitude retrieval
In this section I tried first retrieving the coordinates from geocoder, but it was not possible (see the code below), so I just loaded the [csv](https://cocl.us/Geospatial_data) indicated by the course organizers.

In [0]:
# I tried the code below and after one hour it doesn't even timed out, so in the 
# next cell I will load the csv file with the latitues and longitudes provided by 
# the course organizers.

# Initializing the latitude and longitude vectors
# latitude  = []
# longitude = []

# for i in range(len(table_dataframe)):
#   # initialize your variable to None
#   lat_lng_coords = None
#   # loop until you get the coordinates
#   while(lat_lng_coords is None):
#     g = geocoder.google('{}, Toronto, Ontario'.format(table_dataframe['PostalCode'][i]))
#     lat_lng_coords = g.latlng
#     time.sleep(0.1)
#   latitude.append(lat_lng_coords[0]) 
#   longitude.append(lat_lng_coords[1])

In [0]:
!wget -o geospatial.txt https://cocl.us/Geospatial_data

In [14]:
geospatial_data = pd.read_csv('Geospatial_data')
geospatial_data

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

### Adding the latitude and longitude to the dataframe

In [15]:
# Order table_dataframe by PostalCode 
table_dataframe.sort_values('PostalCode')
print(table_dataframe.shape)
table_dataframe.head()

(103, 3)

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [16]:
# Order geolocation datafrarme by Postal Code
geospatial_data.sort_values('Postal Code')
print(table_dataframe.shape)
geospatial_data.head()

(103, 3)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [17]:
# Loading Latitude and Longitude to the dataframe
table_dataframe['Latitude']  = geospatial_data['Latitude']
table_dataframe['Longitude'] = geospatial_data['Longitude']
table_dataframe.head()

  PostalCode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]